/* * {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
}


@keyframes logo {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

/* Small Tablets */

/* @media (min-width: 321px)and (max-width: 767px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #043745;
  } */ */

/* .logo {
  color: #fff;
  font-weight: bold;
  text-align: center;
  float: upper;
  margin-top: 0px;
  margin-left: 0px;
  letter-spacing: 2px;
  background: linear-gradient(to right, #d92b2b 50%, #000000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: Header 5s ease infinite;
} */

nav {  
background-color: red;  
position: fixed;  
left: 0;  
right: 0;   
top: 5px;  
height: 30px;  
display: flex;  
align-items: center;   
box-shadow: 0 0 25px 0 black;  
}  


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
header {
  padding: 26px 0;
  background-image:
    radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.25), transparent 45%),
    radial-gradient(circle at 80% 0%, rgba(255, 255, 255, 0.15), transparent 35%),
    linear-gradient(120deg, #0b132b 0%, #3a0ca3 45%, #ff6b35 100%);
  background-size: 220% 220%;
  animation: Header 18s ease-in-out infinite;
  box-shadow: 0 15px 35px rgba(5, 5, 25, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #f7f8ff;
}

@keyframes Header {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes LogoGlow {
  0% {
    background-position: 0% 50%;
    filter: drop-shadow(0 0 6px rgba(255, 215, 141, 0.4));
  }
  50% {
    background-position: 100% 50%;
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.55));
  }
  100% {
    background-position: 0% 50%;
    filter: drop-shadow(0 0 6px rgba(255, 215, 141, 0.4));
  }
}

.container {
  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;
}
.logo-box {
  float: left;
  margin-right: 20px;
}
.logo-box a {
  outline: none;
  display: block;
}
.logo-box img {display: block;}

.iframe-wrapper {
  position: relative;
  width: min(90vw, 760px);
  margin: 0 auto 2rem;
  padding-top: 62.5%;
  border: 3px solid #080808;
  border-radius: 24px;
  background: rgba(6, 6, 6, 0.85);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 18px;
  box-shadow: none;
}

@media (max-width: 400px) {
  .iframe-wrapper {
    padding-top: 100%;
  }
}

.logo {
  font-family: 'Consolas', 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: clamp(1.8rem, 3vw, 3rem);
  margin: 0;
  color: #ffe7bf;
  background: linear-gradient(120deg, #ffe066 0%, #ffadad 45%, #ffd6a5 100%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: LogoGlow 12s ease-in-out infinite;
}

nav {
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
nav li {
  display: inline-block;
  margin-left: 25px;
  height: 70px;
  line-height: 70px;
  transition: .5s linear;
}
nav a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #868686;
  text-transform: uppercase;
}
nav a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background: #868686;
  transition: width .5s linear;  
}
nav a:hover:after {width: 100%;}

@media screen and (max-width: 660px) {
  header {text-align: center;}
  .logo-box {
    float: none;
    display: inline-block;
    margin: 0 0 16px 0;
  }
  ul {float: none;}
  nav li:first-of-type {margin-left: 0;}
}
@media screen and (max-width: 550px) {
nav {overflow: visible;}
nav li {
  display: block;
  margin: 0;
  height: 40px;
  line-height: 40px;
}
nav li:hover {background: rgba(0,0,0,.1);}
nav a:after {content: none;}
}
