body main > #frame {
    position: relative;
    display: flex;

    justify-content: start;
    align-items: center;

    width: 100%;
    height: 100%;
}

body main > #frame > iframe {
    position: relative;
    display: block;

    width: 100%;
    height: 100%;

    border: none;
}