body > header {
    position: fixed;
    display: flex;

    flex-direction: row;

    align-items: center;

    margin-top: calc(-1 * var(--header-size));
    padding: 1em;

    width: calc(100% - 2*var(--header-padding));
    height: calc(var(--header-size) - 2*var(--header-padding));

    /*  */

    /* background:
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.25), transparent 45%),
        radial-gradient(circle at 80% 0%, rgba(255, 255, 255, 0.15), transparent 35%),
        linear-gradient(120deg, #0b132b 0%, #3a0ca3 50%, #ff6b35 100%)
    ; */
    background: linear-gradient(90deg, #3a0ca3 0%, #ff6b35 100%);

    /* box-shadow: 0 0 3em rgba(0, 0, 0, 0.5); */

    color: #f7f8ff;

    /* animation: HeaderBackgroundAnimation 18s ease-in-out infinite; */

    z-index: 1;
}

/*  */

body > header > span.space::after {
    content: '.';
    user-select: none;

    position: relative;
    display: inline-block;

    color: transparent;

    width: var(--header-padding);
}

/*  */

body > header > span.vertical-separator {
    position: relative;
    display: inline-block;

    border-left: 0.25em solid #afafaf;

    width: 0;
    height: 100%;
}

/*  */

body > header > .title {
    margin: 0;

    background: linear-gradient(120deg, #ffe066 0%, #ffadad 45%, #ffd6a5 100%);
    background-size: 200% 200%;
    background-clip: text;

    font-family: 'Consolas', 'Montserrat', sans-serif;
    font-size: larger;

    font-weight: bolder;
    text-transform: uppercase;

    letter-spacing: 0.2em;

    color: #ffe7bf;
    -webkit-text-fill-color: transparent;

    /* animation: TitleGlow 12s ease-in-out infinite; */
}

/*  */

body > header > .menu {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    height: 60%;

    aspect-ratio: 1 / 1;

    border: 1px solid #afafaf;
    border-radius: 0.5em;
}

/*  */

body > header > .menu > #menu-items-toggle {
    display: none;
}

body > header > .menu > .menu-button {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 75%;
    height: 75%;

    /* background-color: blue; */
    background-image: url(/assets/images/ui/menu.icon.svg);

    background-size: contain;
    background-position: 50% 50%;

    filter: brightness(69%);

    cursor: pointer;
}

body > header > .menu > .menu-items {
    position: fixed;
    display: flex;

    flex-direction: column;

    top: var(--header-size);
    left: 0;

    width: max-content;
    height: calc(100% - var(--header-size));

    margin: 0;
    padding: var(--header-padding);

    /* background-color: #fff; */
    background: linear-gradient(90deg, #3a0ca3 0%, #ff6b35 100%);
    background-size: 100vw;

    font-weight: bolder;
    text-transform: uppercase;

    list-style: none;

    overflow: hidden;

    transform: translateX(-100%);
}

body > header > .menu > #menu-items-toggle:checked~.menu-button {
    background-image: url(/assets/images/ui/cross.icon.svg);
}

body > header > .menu > .menu-button:hover~.menu-items,
body > header > .menu > .menu-button:focus~.menu-items {
    transition: all 0.25s;
}

body > header > .menu > #menu-items-toggle:checked~.menu-items {
    /* box-shadow: 0 0 3em rgba(0, 0, 0, 0.5); */

    transform: translateX(0);
}

/*  */

body > header > .menu > .menu-items > .item {
    padding-bottom: var(--header-padding);
}

body > header > .menu > .menu-items > .item > a[href] {
    position: relative;
    display: block;

    width: 100%;

    text-decoration: none;

    color: #fff;
}

body > header > .menu > .menu-items > .item > a[href]::after {
    content: '.';
    user-select: none;

    position: relative;
    display: block;

    width: 0%;
    height: 0.25em;

    background-color: white;

    color: transparent;

    /* transform: scaleX(25%); */

    transition: all 0.5s;
}

body > header > .menu > .menu-items > .item a[href]:hover::after {
    width: 100%;
}

body > header > .menu > .menu-items > .item:last-child {
    padding-bottom: 0;
}

/*  */

/* @keyframes HeaderBackgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

/*  */

/* @keyframes LogoGlow {
    0% {
        background-position: 0% 50%;
        filter: drop-shadow(0 0 6px rgba(255, 215, 141, 0.4));
    }
    50% {
        background-position: 100% 50%;
        filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.55));
    }
    100% {
        background-position: 0% 50%;
        filter: drop-shadow(0 0 6px rgba(255, 215, 141, 0.4));
    }
} */