:root {
    --header-size: 5em;
    --header-padding: 1em;

    --menu-padding: 1em;
}

/*  */

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;

    width: 100%;
    height: 100%;
}

/*  */

.relative {
    position: relative;
}

.flex {
    display: flex;
}

.full {
    width: 100%;
    height: 100%;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.auto-overflow {
    overflow: auto;
}