body {
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
}

/* * {
margin: 0;
padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
margin-top: 0;
margin-bottom: 0;
}


@keyframes logo {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

/* Small Tablets */

/* @media (min-width: 321px)and (max-width: 767px) {
.logo {
width: 100%;
text-align: center;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
color: #043745;
} */ */

/* .logo {
color: #fff;
font-weight: bold;
text-align: center;
float: upper;
margin-top: 0px;
margin-left: 0px;
letter-spacing: 2px;
background: linear-gradient(to right, #d92b2b 50%, #000000 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 400% 400%;
animation: Header 5s ease infinite;
} */




body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}
.logo-box {
    float: left;
    margin-right: 20px;
}
.logo-box a {
    outline: none;
    display: block;
}
.logo-box img {display: block;}

.iframe-wrapper {
    position: relative;
    width: min(90vw, 760px);
    margin: 0 auto 2rem;
    padding-top: 62.5%;
    border: 3px solid #080808;
    border-radius: 24px;
    background: rgba(6, 6, 6, 0.85);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.45);
    overflow: hidden;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 18px;
    box-shadow: none;
}

@media (max-width: 400px) {
    .iframe-wrapper {
        padding-top: 100%;
    }
}
